[Unit]
Description=Run Google Drive cleanup every 6 hours

[Timer]
OnCalendar=*-*-* 00/6:00:00
AccuracySec=1s
RandomizedDelaySec=0
Persistent=true

[Install]
WantedBy=timers.target
